* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gruppo', 'Orbitron', sans-serif;
    font-weight: bold;    
    color: rgb(255, 224, 224);
}

h1 {
    font-size: 3rem;
    margin: 15px 0px;
    color: #FFE98A;    
    font-family: 'Orbitron';
    text-shadow: 3px 3px rgba(0, 0, 0, 0.75);
}

h2, h3 {
    font-family: 'Orbitron';
    text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

h2 {
    font-size: 2rem;
    margin: 15px 0px;
    color: #46244C;    
}

h3 {
    color: #FFE98A;
    font-size: 1.25rem;
}

p.copyright {
    font-weight: 550;
}

a {
    color: #c49fc1;
    text-decoration: none;
}

a:hover {
    color: black;
}

img {
    border-radius: 15px;
}

img.icon {
    width: 150px;
    border-radius: 100px;
}

#banner-icon {
    height: 100%;
    width: auto;
    position: absolute;
    left: 44%;
    top: 0px;
    border-radius: 0px;
    opacity: 0.8;
    z-index: 1;
}

#self {
    height: 25vh;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

hr {
    height: 3px;
    width: 100%;
    margin: 20px;
    border-style: outset;
    border-color: #D49B54;
    border-radius: 100px;
    background-color: #D49B54;
    align-self: center;
}

nav, footer {    
    display: flex;
    padding: 0px 15px;
    width: 100%;
    height: auto;
    background-color: #562349;
}

nav {
    justify-content: flex-end;
}

footer  {
    justify-content: center;
}

nav a {
    color: white;
    padding: 0px 15px;
}

footer a {
    color: white;
    padding: 15px 15px;
}

nav a:hover, footer a:hover {
    background-color: #AD6989;
    color: white;
}

section {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 15px;
    display: flex;    
    position: relative;    
}

section.main { 
    background-color: #FFA299;
    flex-direction: column;
}
  
section.banner {     
    background-image: url('../images/banner-bg.png');
    background-size: cover;
    background-position: center;
    height: 25vh;
    overflow: hidden;
    padding-left: 10%;
}

div {
    z-index: 2;
    padding: 15px 15px;
    border-radius: 15px;        
    overflow-wrap: break-word;    
}

div.intro  {
    background-color: rgba(173, 105, 137, 0.75);
    width: inherit;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 25px;
    align-self: center;
    border: #3D3C42;
}

div.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 25px;
}

div.one-col {
    display: grid;
    grid-template-columns: auto; 
    gap: 5px;
    padding: 40px 20px;    
}

div.card {
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: rgb(102, 62, 89); 
    margin: 20px auto;
    padding: 25px; 
    display: flex;
    flex-direction: column;
    overflow: -moz-hidden-unscrollable; 
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
 
ul.language-list, dl.exp-list, dl.skill-list {
    justify-content: space-evenly;
    gap: 10px;
    list-style: none; 
}

ul.language-list {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    padding-inline-start: 0px;
}

dl.exp-list, dl.skill-list {
    display: grid;    
    grid-template-columns: auto auto;
}

ul.language-list li, dl.skill-list dd {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

dl.skill-list dt {
    align-self: center;
    justify-self: center;
}