:root {
    --dark-blue: #0474b4;
    --med-blue: #04b4dc;
    --darkest-blue: #04045c;
    --light-blue: #94e4ec;
    --lightest-blue: #ccf4fc;
    --med-purple: #9494bc;
    --light-purple: #cccce4;
    --dark-purple: #545c94;
  }
  