.contactPage {
    min-height: 100vh;
    background-image: url('/contact-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.phoneScreen {
    margin: 50px;
    position: relative;
    width: 375px;
    height: 650px;
    background-color: #333;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 12px solid #000;
}

.screenHeader {
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    color: #fff;
    border-bottom: 1px solid #444;
}

.contactInfo {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    margin-bottom: 10px;
}

.contactForm {
    padding: 20px;
    flex-grow: 2;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

.contactForm button {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contactForm button:hover {
    background-color: #16a085;
}

.homeButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.2);
    border: 2px solid #666;
}

.frontCamera {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.2);
    border: 2px solid #666;
}