.container {
  display: flex;
  gap: 2rem;
  padding: 0 4rem 4rem 4rem;
  background: url('/bg-image.png') no-repeat center center;
  background-size: cover;
  color: #fff;
  /* Ensures visibility against dark background */
  min-height: 100vh;
}

.lhs {
  flex: 1;
}

.rhs {
  flex: 1;
}